# Frontend environment template
# Copy this file to `frontend/.env` and fill in your own values.

VITE_API_URL=https://campusconnect-3dcg.onrender.com/api
VITE_GOOGLE_CLIENT_ID=173852314755-si78h16s4h4um55n0rhb9rk2h1do2u0k.apps.googleusercontent.com
VITE_FIREBASE_API_KEY=AIzaSyA0TZ-WplP37QdSMxEIpB0TvyjW0XY1kIk
VITE_FIREBASE_AUTH_DOMAIN=campusconnect-361b7.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=campusconnect-361b7
VITE_FIREBASE_STORAGE_BUCKET=campusconnect-361b7.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=518715623725
VITE_FIREBASE_APP_ID=1:518715623725:web:4a7d0aca5b46a08b476ba4
VITE_FIREBASE_MEASUREMENT_ID=G-ZGVXG5C8NS
